openweather.api.base-url=https://api.openweathermap.org
openweather.api.timeout=5000
openweather.api.key=${OPENWEATHER_API_KEY:default-api-key}

db.url=${DB_URL:default-db-url}
db.username=${DB_USERNAME:default-db-username}
db.password=${DB_PASSWORD:default-db-password}

hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
hibernate.show_sql=true
hibernate.format_sql=true